# -----------------------------
# Version control
# -----------------------------
.git
.gitignore

# -----------------------------
# Python cache / build artifacts
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# -----------------------------
# Virtual environments
# -----------------------------
.venv/

# -----------------------------
# Jupyter artifacts
# -----------------------------
*.ipynb_checkpoints/
.notebook_cache/

# -----------------------------
# Environment / secrets
# -----------------------------
.env

# -----------------------------
# OS / Editor specific
# -----------------------------
.DS_Store
.vscode/
